@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Work+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
}

body{
    background-color: #FBF7F0;
}

h1{
    font-family: 'Barlow', sans-serif;
    color: #555555;
    font-size: 4rem;
}

.erik, h2{
    color: #DD4A48;
}

h2{
    font-family: 'Barlow', sans-serif;
    font-size: 2.5rem;
}
.main-container{
    display: block;
    justify-content: center;
    align-items: center;
    padding-top: 15%;
    text-align: center;
}

.nav-btns{
    border: solid #FBF7F0 1px;
    color: #555555;
    text-decoration: none;
    background-color: #FBF7F0;
    padding: 15px 32px;
    text-align: center;
    margin: 4px 2px;
    cursor: pointer;
}

.nav-btns:hover{
    background-color: #DD4A48;
    color: #FBF7F0;
}

.nav-container{
    padding-top: 15px;
}

.App {
    text-align: center;
  }
  
.App > div {
    width: 100vw;
    min-height: 100vh;
    margin-top: 100px;
}

.header {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 20px 0;
    position: fixed;
    background-color: #FBF7F0;
    top: 0;
}
  
li {
    cursor: pointer;
    list-style: none;
}
  
.about-para p{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 55%;
    margin-left: 22%;
    font-family: 'Barlow', sans-serif;
    padding-top: 25px;
    font-size: 1.6rem;
}

.about-skills{
    padding-top: 25px;
}


#about-outer {
	height: 84px;
}

.about-table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}

ul#about-list {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
	}
	ul#about-list li {
		display: inline;
	}

.skills-container{
    width: 80%;
    margin-left: 10%;
    margin-top: 4%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.skills-title{
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-family: 'Work Sans', sans-serif;
    font-size: 3rem;
}

.card {
    margin-bottom: 5%;
    border: 1px solid;
    padding: 20px;
    box-shadow: 5px 8px;
}

#skills{
    text-decoration: none;
    color: #404040;
}

.project-cards-container{
    position: relative;
    width: 80%;
    margin-left: 10%;
    margin-top: 6%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.project-title{
    width: 80%;
    margin-left: 10%;
    margin-top: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-family: 'Work Sans', sans-serif;
    color: #DD4A48;
    font-size: 3rem;
}

.card-title{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color: #DD4A48;
    font-size: 1.3rem;
    font-family: 'Work Sans', sans-serif;
}

.card-text{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 10%;
    padding-bottom: 5%;
}


.project-card {
    margin-bottom: 5%;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 8px #292B2E;
    width: 15rem;
    height: 17rem;
}


.project-links{
    display: flex;
    justify-content: space-evenly;
}

.github-icon-project{
    padding-bottom: 50%;
}

#projects{
    text-decoration: none;
    color: #404040;
}

.contact-title{
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-family: 'Work Sans', sans-serif;
    font-size: 3rem;
}

.email-button{
    background-color: transparent;
    background-repeat: no-repeat;
    border: solid #DD4A48 1px;
    cursor: pointer;
    overflow: hidden;
    font-size: 2rem;
    color: #DD4A48;
}

.button-container{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-family: 'Work Sans', sans-serif;
    font-size: 3rem;
}

.email{
    text-decoration: none;
    color: #DD4A48;
}

#contact {
    text-decoration: none;
    color: #292B2E;
}

.contact-h1{
    padding-bottom: 6rem;
}